<h3>おなら神経衰弱（β版）</h3>
<p>猫をクリックすると音が鳴ります。同じ音を連続して選ぶと消えます。　※音量注意</p>
<% 2.times do %>
  <% (1..5).each do |i| %>
    <%= image_tag 'cathip.jpeg', class: "beeper#{i}" %>
  <% end %>
<% end %>

<script>
const audio1 = new Audio('<%= asset_path "audio1.mp3" %>');
const audio2 = new Audio('<%= asset_path "audio2.mp3" %>');
const audio3 = new Audio('<%= asset_path "audio3.mp3" %>');
const audio4 = new Audio('<%= asset_path "audio4.mp3" %>');
const audio5 = new Audio('<%= asset_path "audio5.mp3" %>');
var types = [];

document.addEventListener('click', (event)=>{
  let el = event.target;
  if (el.matches('.beeper1')) {
    audio1.play();
    types.push(1);
    console.log(types);
    $("[class^='beeper']").css({ 'pointer-events' : 'auto' });
    $(el).css({ 'pointer-events' : 'none' });
  }
  if (el.matches('.beeper2')) {
    audio2.play();
    types.push(2);
    console.log(types);
    $("[class^='beeper']").css({ 'pointer-events' : 'auto' });
    $(el).css({ 'pointer-events' : 'none' });
  }
  if (el.matches('.beeper3')) {
    audio3.play();
    types.push(3);
    console.log(types);
    $("[class^='beeper']").css({ 'pointer-events' : 'auto' });
    $(el).css({ 'pointer-events' : 'none' });
  }
  if (el.matches('.beeper4')) {
    audio4.play();
    types.push(4);
    console.log(types);
    $("[class^='beeper']").css({ 'pointer-events' : 'auto' });
    $(el).css({ 'pointer-events' : 'none' });
  }
  if (el.matches('.beeper5')) {
    audio5.play();
    types.push(5);
    console.log(types);
    $("[class^='beeper']").css({ 'pointer-events' : 'auto' });
    $(el).css({ 'pointer-events' : 'none' });
  }
  if (types.length == 3) {
      types.shift();
  }
  if (types[0] == types[1]) {
    if (types[0] == 1) {
      $('.beeper1').remove();
    }
    if (types[0] == 2) {
      $('.beeper2').remove();
    }
    if (types[0] == 3) {
      $('.beeper3').remove();
    }
    if (types[0] == 4) {
      $('.beeper4').remove();
    }
    if (types[0] == 5) {
      $('.beeper5').remove();
    }
  }
});
</script>
